section.section1 {background-color:#B22222;visibility: hidden;position:relative;position: absolute}
section.section2 {background-color:#B22222;visibility: hidden;position:relative;position: absolute;}
section.section3 {background-color:#B22222;visibility: hidden;position:relative;position: absolute;}